<!-- producto_agotado.html -->

{% extends 'base.html' %}

{% block titulo %}
    Sin permisos
{% endblock %}

{% block contenido %}
    <a href="{% url 'productoList' %}" class="btn btn-success btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-arrow-left"></i>
        </span>
        <span class="text">Volver a la tienda</span>
    </a>
    <div class="my-2"></div>
    <div class="alert alert-warning" role="alert">
        No tienes los permisos necesarios
    </div>
{% endblock %}
