{% extends 'base.html' %}

{% block titulo %}
    - Inicio
{% endblock %}

{% block encabezado %}
    Inicio
{% endblock %}

{% block extraCSS%}
<style>
    .perfil-img {
        border-radius: 50%;
        max-width: 100px;
        height: auto;
    }
    
    .bgImageDiv1{
        background-image: url('../static/img/rfid.jpg');
    }
    .bgImageDiv2{
        background-image: url('../static/img/catalogos.jpg');
    }
    .bgImageDiv3{
        background-image: url('../static/img/datos.jpg');
    }

    .bgImageCard{
        background-size: cover;
        background-position: center center;
        height:auto;
        border-radius:0 0 5px 0;
    }

    
    
</style>
{% endblock %}

{% block contenido %}
<div class="row">
    
        {% for item in productos %}
        
            <a class="col-lg-3 mb-0" >
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        
                        <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
                            <!-- Ajustar el tamaño de la imagen -->
                            <img src="../../../{{item.imagen}}" alt="{{item.imagen}}" class="img-fluid">
                        </div>
                    
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ item.categoria }} {{ item.producto }}</h5>
                        <p class="card-text">{{ item.descripcion }}</p>
                        <p class="card-text">Código: {{ item.codigo }}</p>
                        <p class="card-text">Precio: ${{ item.precio }}</p>

                        <a href="{% url 'productoUpdate' item.pk %}" class="btn btn-warning btn-circle"><i class="fas fa-pen"></i></a>
                        <a href="{% url 'productoDelete' item.pk %}" class="btn btn-danger btn-circle"><i class="fas fa-trash"></i></a>
                        <a href="{% url 'agregar_producto_carrito' item.pk %}" class="btn btn-primary btn-circle"><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </a>
        {% endfor %}
    
</div>
{% endblock %}